@* @model BasicCodeFirstApproachCrudOperations.Models.Wine.Wine *@

<html>
    <head>
    <style>
        ul {
            list-style-type: none; /* Removes bullets */
            margin: 0;
            padding: 0;
        }

        li {
            display: inline; /* Displays list items horizontally */
            margin-right: 20px; /* Add spacing between items */
        }

        a {
            text-decoration: none; /* Remove underlines from links */
            color: #333; /* Set link color */
        }

       /*  body {
            background-image: url('./images/images\winebackgroundimage.png');
            background-image: url('c:\users\vinay gattu\source\repos\basiccodefirstapproachcrudoperations\basiccodefirstapproachcrudoperations\models\wine\images\winebackgroundimage.png');
           
        } */

    </style>
    
    </head>
    <body>

    <div>
        <ul>
            <li><a asp-controller="Wine" asp-action="Beers">Beers</a></li>
            <li><a asp-action="">Wine</a></li>
            <li><a asp-action="">wiskhy</a></li>
            <li><a asp-action="">Imported</a></li>
        </ul>
    </div>

   


    </body>
</html>